[user]
    name = inkooboo
    email = inkooboo@gmail.com

[color]
    ui = auto

[alias]
    br = branch -a
    co = checkout
    t = log --oneline --graph --decorate=full --color --all
    st = status

[credential]
	helper = cache

[core]
	editor = vim
